@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,700;1,100&family=Poppins:ital,wght@0,100;0,400;0,700;1,300&family=Roboto:wght@100;400;700&display=swap');

* {
    padding: 0;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    overflow: hidden; /* caso algum conteúdo estrapole e crie barras, estas serão escondidas */
}

body { 
    display: flex; 
}

h1 {
    color: #130f49;
    font-size: 1.5rem;
    /* text-shadow: #c0efd2 0.313rem 0.188rem 0.125rem; */
    font-family: 'Poppins', sans-serif;
}

h2 {
    color: #130f49;
    font-family: 'Roboto', sans-serif;
}

/* MENU LATERAL */
.menu {
    width: 20%;
    height: 100vh;
    position: fixed; /* quando rolarmos a pagina o menu ficará parado */
    text-align: center;
    background-color: #fff;
    border-right: 0.05rem solid rgba(1, 0, 5, 0.1);
}

/* colocar os elementos ao meio do menu, as 3 divs uma em baixo da outra */
.sidebar-container {
    display: grid; 
    place-items: center; 
    height: 100vh;
}


/* Minha foto e meu nome */
.myself {
    float: left;
    width: 100%;
    /* padding: 10px 0; */
}

.photo {
    width: 12.5rem; 
    height: 12.5rem;
    position: relative;
    display: inline-block;
    border-radius: 50%;
    background-image:url("perfil-foto.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    /* background-position: center; */
}

.name {
    margin-top: 0.625rem;
}

/* links de navegação */
nav ul {
    align-items: center;
    justify-content: center;
    flex-direction: column;
    list-style-type: none; /* tira as bolinhas */
}

nav ul li {
    margin: 0 0 1.5rem;
}

nav ul li a {
    font-size: 1rem;
    /* font-family: 'Poppins', sans-serif; */
    color: #A5A6FF;
    text-decoration: none; /* tira o sublinhado */
}

nav ul li a:hover {
    font-weight: bold;
    color: #e25858;
}

/* rodape do menu */
.copyright ul li {
    margin: 0 0.187rem 0 0;
    display: inline-block;
}

/* background dos icones */
.copyright ul li a {
    width: 2.5rem;
    height: 2.5rem;
    display: inline-block;
    position: relative;
    border-radius: 100%;
    background-color: #ececfb;
    color: #130f49;
}

.copyright ul li i  {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-size: 1.2rem;
}

.copyright i:hover {
    color: #e25858;
}

.texto p {
    position: relative;
    top: 0.2rem;
    font-size: 0.9rem;
}

/* CONTEÚDO */
.container {
    display: inline-block;
    height: auto;
    padding: 5rem 10rem;
    /* margin: 5rem; */
}

main {
    position: absolute;
    left: 21.813rem;
    width: 80%;
    height: 100vh;
}

/* SOBRE MIM */
#index {
    height: 100vh;
    background-color: #ebfbf1;
}

.texto-me h2 {
    padding: 0 0 3rem 2rem;
    font-size: 4.5rem;
    color: #130f49;
}

.texto-me span {
    color: #e25858;
}

.texto-me p {
    text-align: justify;
    padding: 1rem;
    font-size: 1.2rem;
}

/* Título das sessões */
.heading h2 {
    font-size: 2.5rem;
    text-align: center;
    margin-top: 3rem;
}

.heading p {
    margin-bottom: 2rem;
    text-align: center;
}

/* Título dos projetos */
.projetos {
    width: 100%;
    float: left;
    display: flex;
    padding: 3rem 0;
}

.box {
    margin: 1rem;
    padding: 1.5rem;
    border-radius: 0.5rem;
    background-color: #fff5f6;
}

.box-texto h3 {
    margin: 1rem;
}

.box-texto a {
    color: #000;
    padding: 1rem;
    text-decoration: none; /* tira as bolinhas */
}

.box-texto span {
    color: #e25858;
}

.box-texto a:hover { color: #A5A6FF;}

.box-img, .box-img2 {
    margin: 2rem 0;
    width: 600px;
    height: 400px;
    border-radius: 0.2rem;
    background-size: cover;
    background-position: center;
}

.box-img { background-image: url(tecblog.gif); }
.box-img2 { background-image: url(spotify.gif); }

/* contato */
#contato {
    background-color: #f3f9ff;
    padding: 2rem;
}

.box-social {
    margin: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box-social li {
    cursor: pointer;
    padding: 2rem;
}

.box-social li a:hover { 
    color: #e25858;
    font-weight: bold;
}

.box-social li a {
    color: #130f49;
    text-decoration: none;
}

.box-social i {
    color: #130f49;
    margin-right: 1rem;
}