body {
    font-size: 30px;
}

/* colocar a tabela no centro */
div {
    display: flex;
    justify-content: center; /* centraliza o conteúdo horizontalmente e verticalmente na página.*/
    align-items: center; /* centraliza o conteúdo horizontalmente e verticalmente na página.*/
    height: 50vh; /* define a altura do corpo da página para ocupar 50% da altura da janela do navegador */
}

.renda {
    background-color: #0ff;
}

.despesas {
    background-color: #f0f;
}

.lucro {
    background-color: #f00;
}