@import url('https://fonts.googleapis.com/css2?family=Lilita+One&family=Montserrat:wght@100;300;600&family=Poppins:wght@700&display=swap');

* {
    margin: 5px;
    padding: 10px;
    font-family: "Montserrat","Acumin Pro","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 600;
}

.meusExercicios div{
    display: inline-block;
}

 li a {
    font-family: 'Montserrat';
    font-weight: bold;
    color: #000;
    text-decoration: none;
}

 li a:visited { color: crimson; }
 li a:hover { color: rgb(226, 76, 106);}

