.container {
    margin: 0 auto;
    width: 1240px;
}

h1 {
    font-size: 50px;
    color: crimson;
}

ul {

}

li {
    margin: 5px;
    padding: 10px 20px;
    list-style: none; /* tira as bolinhas dos links */
}

a {
    font-size: 25px;
    color: cornflowerblue;
    text-decoration: none; /* Tira o sublinhado dos links */
}