body {
    font-family: Verdana, sans-serif;
    font-size: medium;
    color: #000;
    background-color: rgb(227, 227, 180);
    margin: 0;
}

h1 {
    color: red;
    font-size: xx-large;
}

h2, h3 {
    font-family: Georgia, serif;
}

h2 { color: blue;}
h3 { color: cornflowerblue;}